################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/OctopusFrameworkV3
/OctopusV3.Builder/bin/Debug
/OctopusV3.Builder/obj/Debug
/OctopusV3.Core/bin/Debug/netstandard2.0
/OctopusV3.Core/obj
/OctopusV3.Data/bin/Debug/netstandard2.0
/OctopusV3.Data/obj
/OctopusV3.DynamicHTML/bin/Debug/netstandard2.0
/OctopusV3.DynamicHTML/obj
/OctopusV3.Net.Mvc/bin/Debug
/OctopusV3.Net.Mvc/obj/Debug
/packages
/OctopusV3.API/bin/Debug/netstandard2.0
/OctopusV3.API/obj
/OctopusV3.Nugets/OctopusV3.API/lib/netstandard2.0
*.nupkg
/OctopusV3.Nugets/OctopusV3.Core/lib/netstandard2.0
/OctopusV3.Nugets/OctopusV3.Data/lib/netstandard2.0
/OctopusV3.Nugets/OctopusV3.DynamicHTML/lib/netstandard2.0
/OctopusV3.Nugets/OctopusV3.Net.Mvc/lib/net46
