################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs
/OctopusV3.Builder/bin
/OctopusV3.Builder/obj
/OctopusV3.Core/bin
/OctopusV3.Core/obj
/OctopusV3.Data/bin
/OctopusV3.Data/obj
/OctopusV3.DynamicHTML/bin
/OctopusV3.DynamicHTML/obj
/OctopusV3.Net.Mvc/bin
/OctopusV3.Net.Mvc/obj
/packages
/OctopusV3.API/bin/Debug
/OctopusV3.API/obj
/OctopusV3.Nugets/OctopusV3.API/lib/netstandard2.0
*.nupkg
/OctopusV3.Nugets/OctopusV3.Core/lib/netstandard2.0
/OctopusV3.Nugets/OctopusV3.Data/lib/netstandard2.0
/OctopusV3.Nugets/OctopusV3.DynamicHTML/lib/netstandard2.0
/OctopusV3.Nugets/OctopusV3.Net.Mvc/lib/net46
/OctopusV3.Core.Mvc/bin/Debug/netcoreapp3.1
/OctopusV3.Core.Mvc/obj
/OctopusV3.Image/bin/Debug
/OctopusV3.Image/obj
